section:nth-child(2) .section-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.date__header {
  font-size: 4.5rem;
  margin: 3rem 0 3rem 0;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.date__text {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: 550;
  font-family: "Lato", sans-serif;
}
section:nth-child(2) img.fixed-image {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
