section:nth-child(2) .section-overlay {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.date__date,
.date__header,
.date__location {
  text-align: center;
  color: white;
}

.date__header {
  font-size: 4.5rem;
  margin: 3rem 0 3rem 0;
}
.date__date,
.date__location {
  font-size: 2rem;
}
.date__location {
}
