section:nth-child(2) .section-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

.date__header {
  font-size: 4.5rem;
  margin: 3rem 0 3rem 0;
}
.date__text {
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
