section:first-child .section-overlay {
  border-left: 3px solid rgb(255, 225, 200);
  border-right: 3px solid rgb(255, 225, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: url("../images/background.jpg");
  background-size: auto;

  /* overflow-x: hidden; */
}
.couple-wrapper {
  max-height: 48rem;
  /* overflow: hidden; */
  /* outline: 5px solid red; */
}
section:first-child .couple-wrapper img {
  /* transform: scale(0.85); */
  /* margin: 5rem auto 2rem auto; */
  max-width: inherit;
  max-height: inherit;
  border-radius: 1rem;
}
h1 {
  font-family: "Great Vibes";
  font-size: 5.2rem;
  text-align: center;
  margin-top: 3rem;
}
.hero-text {
  font-size: 2.35rem;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
